body {
   background-color: #508cff0f !important
}

body {
   background-color: #508cff0f !important
}

.header-article .header-article-main {
   background-color: #508cff0f !important
}

#site-navigation .bd-sidebar__content {
   background-color: #508cff0f !important
}

.bd-toc .toc-entry a, .bd-toc div.onthispage {
   background-color: #508cff0f !important
}

div.header-article-main .header-article__left a, div.header-article-main .header-article__left button, div.header-article-main .header-article__left label, div.header-article-main .header-article__right a, div.header-article-main .header-article__right button, div.header-article-main .header-article__right label {
   background-color: #508cff0f !important
}

.admonition.important, div.admonition.important {
   background-color: #fafafa !important
}

.admonition.note, div.admonition.note {
   background-color: #fafafa !important
}

.highlight .nb {
   color: #e83e8c !important
}

.highlight .bp {
   color: #e83e8c !important
}

.admonition.warning, div.admonition.warning {
   background-color: #fafafa !important
}

.bd-toc {
   background-color: #508cff0f !important
}

.menu-dropdown__content:hover, .menu-dropdown__trigger:hover + .menu-dropdown__content {
   background-color: #508cff0f !important
}
